In [369]:
import pandas as pd

df = pd.DataFrame([[1, 1, 1], [1, 2, 3], [3, 2, 1]], columns=["A", "B", "C"], index=["X", "Y", "Z"])

In [370]:
df.tail(1)

   A  B  C
Z  3  2  1

In [371]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [372]:
df.index.tolist()

['X', 'Y', 'Z']

In [373]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, X to Z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [374]:
df.nunique()

A    2
B    2
C    2
dtype: int64

In [375]:
df.describe()

              A         B         C
count  3.000000  3.000000  3.000000
mean   1.666667  1.666667  1.666667
std    1.154701  0.577350  1.154701
min    1.000000  1.000000  1.000000
25%    1.000000  1.500000  1.000000
50%    1.000000  2.000000  1.000000
75%    2.000000  2.000000  2.000000
max    3.000000  2.000000  3.000000

In [376]:
df['A'].index.tolist()

['X', 'Y', 'Z']

In [377]:
df.shape

(3, 3)

In [378]:
df.size

9

In [379]:
movies = pd.read_csv('../data/raw/movies.csv')

In [380]:
movies.head()

   movieId                               title                      genres
0        1                              Naruto                      Action
1        2                      Jumanji (1995)  Adventure|Children|Fantasy
2        3             Grumpier Old Men (1995)              Comedy|Romance
3        4            Waiting to Exhale (1995)        Comedy|Drama|Romance
4        5  Father of the Bride Part II (1995)                      Comedy

In [381]:
movies

,movieId,title,genres
0,1,Naruto,Action
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [382]:
movies.loc[0:5, ['title', 'genres']]

                                title                      genres
0                              Naruto                      Action
1                      Jumanji (1995)  Adventure|Children|Fantasy
2             Grumpier Old Men (1995)              Comedy|Romance
3            Waiting to Exhale (1995)        Comedy|Drama|Romance
4  Father of the Bride Part II (1995)                      Comedy
5                         Heat (1995)       Action|Crime|Thriller

In [383]:
print(movies.title)

0                                          Naruto
1                                  Jumanji (1995)
2                         Grumpier Old Men (1995)
3                        Waiting to Exhale (1995)
4              Father of the Bride Part II (1995)
                          ...
9737    Black Butler: Book of the Atlantic (2017)
9738                 No Game No Life: Zero (2017)
9739                                 Flint (2017)
9740          Bungo Stray Dogs: Dead Apple (2018)
9741          Andrew Dice Clay: Dice Rules (1991)
Name: title, Length: 9742, dtype: object

In [384]:
movies.loc[0, ['title']] = 'Naruto'
movies.to_csv("../data/raw/movies.csv", index=False)

In [385]:
movies.sort_values(['title', 'genres'], ascending=True)

,movieId,title,genres
8600,117867,'71 (2014),Action|Drama|Thriller|War
8014,97757,'Hellboy': The Seeds of Creation (2004),Action|Adventure|Comedy|Documentary|Fantasy
5528,26564,'Round Midnight (1986),Drama|Musical
5690,27751,'Salem's Lot (2004),Drama|Horror|Mystery|Thriller
614,779,'Til There Was You (1997),Drama|Romance
...,...,...,...
1961,2600,eXistenZ (1999),Action|Sci-Fi|Thriller
3920,5507,xXx (2002),Action|Crime|Thriller
5882,33158,xXx: State of the Union (2005),Action|Crime|Thriller
1866,2478,¡Three Amigos! (1986),Comedy|Western
3947,5560,À nous la liberté (Freedom for Us) (1931),Comedy|Musical