In [18]:
import pandas as pd

df = pd.DataFrame([[1, 1, 1], [1, 2, 3], [3, 2, 1]], columns=["A", "B", "C"], index=["X", "Y", "Z"])

In [19]:
df.tail(1)

   A  B  C
Z  3  2  1

In [20]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [21]:
df.index.tolist()

['X', 'Y', 'Z']

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, X to Z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [26]:
df.nunique()

A    2
B    2
C    2
dtype: int64

In [27]:
df.describe()

              A         B         C
count  3.000000  3.000000  3.000000
mean   1.666667  1.666667  1.666667
std    1.154701  0.577350  1.154701
min    1.000000  1.000000  1.000000
25%    1.000000  1.500000  1.000000
50%    1.000000  2.000000  1.000000
75%    2.000000  2.000000  2.000000
max    3.000000  2.000000  3.000000